@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: "Sriracha"
}

header > h1 {
    font-family: "Passion One", sans-serif;
    font-weight: bolder;
    font-size: 10vw;
    padding-top:50px;
    font-variant: small-caps;
}

header > p {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:hover {
    text-decoration: underline;
}
#img1 {
    background-image: url('images/background001.jpg');
}
#img2 {
    background-image: url('images/background002.jpg');
}
.imagem {
    min-height:50vh;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: auto;
    box-shadow: inset 0px 0px 15px black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.503);
    padding: 10px;
    border-radius: 10px;
}