@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
      font-family: "Oswald", sans-serif;
        color: green;
        text-align: center;
        margin: 0px;     
}
body {
    background-color: #1A1B1E;
}
header {
    background-image: linear-gradient(to top, rgb(67, 79, 67), rgb(69, 119, 69));
    box-shadow: inset rgb(58, 58, 58) 2px 2px 20px;
}

article.jogo {
    display: inline-block;
    background-color: rgba(0, 128, 0, 0.181);
    padding: 15px;
    width: 250px;
    height: 370px;
    box-shadow: inset rgb(77, 110, 81) 2px 2px 20px;
    margin: 15px;
    border-radius: 20px;
    transition-duration: 500ms;
    position: relative;
}

article.jogo:hover {
    background-color: rgba(14, 255, 14, 0.51);
    border-radius: 45px;
}
article.jogo:active {
    background-color: rgba(172, 255, 47, 0.329);
    border-radius: 500px;
}

header > h1 {
    margin: 10px;
}

 header > img {
    margin: 40px;
 }

article > h2 {
    font-size: 1.2em;
    color: rgb(88, 169, 113);
}

article.jogo:hover > h2 {
    color: white;
}

article.jogo > img {
    border-radius: 15px;
    transition-duration: 500ms;
}

article.jogo > img:hover, article.jogo:hover > img {
    border-radius: 45px;
}

article.jogo > img:active, article.jogo:active > img {
    border-radius: 500px;
}

li {
    margin-bottom: 10px;
    list-style-type: none; 
    display: inline-block;
    color: white;
    font-size: 1.4em;
    position: relative;
    top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

li:hover {
    background-image: linear-gradient(to bottom, transparent, green);
}

li:active {
    background-image: linear-gradient(to bottom, transparent, rgb(7, 255, 7));
}

a {
   color: white;
   text-decoration: none; 
}

article.jogo::after {
    content: "";
    position: absolute; /* Necessário para usar top e left */
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('https://pngimg.com/d/xbox_PNG101381.png');
    background-size: contain; 
    background-position: center center;
    background-repeat: no-repeat;
    top: 20px; 
    left: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: rgb(0, 0, 0) solid 10px;
}

article.jogo::before {
    content: "";
    position: absolute; /* Necessário para usar top e left */
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/Xbox_Series_S.png');
    background-size: contain; 
    background-position: center center;
    background-repeat: no-repeat;
    top: 20px;
    left: 178px;
    background-color: green;
    border-radius: 10px;
    border: green solid 10px;
}