body{
background-color: rgb(78, 78, 78);
color: aliceblue;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
 color: rgb(255, 255, 255);  
 font-size: 65px;
 text-align: center;
}
h2 {
    text-align: center;
    color: rgb(137, 137, 137);
    font-size: 45px;
}
h3 {
    text-align: center;
    font-size: 35px;
}

a {
color: rgb(204, 204, 204);
}
