@charset "UTF-8";

:root {
    --cor1: rgb(251, 252, 242);
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 500ms;
}

html{
    background-color: #8FA5A2;
    /* box-shadow: inset var(--cor1) 0px 0px 100px; */
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-variant: small-caps;
}
article > p {
    text-align: center;
    font-size: 0.8em;
}

main {
    width: 240px;
    height: 565px;
    margin: auto;
    border-radius: 15px;
}

section {
    width: 240px;
    height: 350px;
    margin-top: 80px;
}

article#janelaLogin {
    background-color: var(--cor1);
    padding: 20px;
    height: 305px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: #013829c7 0px 0px 20px;
}

article#background {
    background-image: url(../imagens/background.jpg);
    width: 240px;
    height: 220px;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
    box-shadow: #013829c7 0px 0px 20px;
}

input.campos {
    display: inline-block;
    width: 165px;
    height: 35px;
    margin: 10px;
    margin-top: 3px;
    margin-left: 50px;
    border-radius: 15px;
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition-duration: 500ms;
}

div {
    background-color: #025940a2;
    border-radius: 15px;
    width: 225px;
    height: 45px;
    margin-top: 5px;
    margin-left: -12px;
    text-align: center;
}

label > i {
    display: inline-block;
    color: white;
    margin-top: 10px;
}

input.botao {
    width: 225px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    margin-left: -12px;
    border-radius: 15px;
    transition-duration: 500ms;
}

input#botao1 {
    background-color: #025940;
    color: var(--cor1);
}
input#botao1:hover {
    background-color: #2E4F46;
    color: var(--cor1);
    cursor: pointer;
}

input#botao2 {
    background-color: var(--cor1);
    color: #2E4F46;
}
input#botao2:hover {
    background-color: #2E4F46;
    color: var(--cor1);
    cursor: pointer;
}