@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #02735E,#034159);

}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(2, 42, 57, 0.488);
}

h1 {
    color: #034159;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(2, 41, 56, 0.376);
}
h2 {
    color:#038C3E;
}