@charset "UTF-8";
/*
    em HTML é id    = em CSS é # (só pode um elemento por página)
    em HTML é class = em CSS é . (podde vários elementos por página
*/
body {
    background-image: linear-gradient(45deg, #1B1E59,#1A1C40,#1B80BF,#184059,#23A5D9);
    font: Arial, Helvetica, sans-serif;
}

h1 {
    color: #252E40;
    box-shadow: 5px 5px 15px rgba(107, 107, 107, 0.381);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 35%;
    padding: 10px;
    text-align: center;
    margin: auto;
}
#box {
    background-color: #eee4e4;
    border-radius: 10px;
    text-align: center;
    padding: 6px;
}

#principal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: #252E40;
    border-radius: 15px;
    width: 80%;
    box-shadow: 5px 5px 15px #0000007f;
    padding: 10px;
}

h2 {
    color: #ffffff;
    text-align: center;
    background-color: #252E40;
    width: 35%;
    border-radius: 10px;
  margin: auto;
}

p {
    color:#0D0D0D;
}

.basico {
    color: red;
}

.intermediario {
    color: green;
}

.avancado {
    color: blue;
}